* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #001f3f;
}

a {
  color: #fff;
}

div {
  p {
    margin: 1rem;
  }
}

.logo {
  &:before {
    display: block;
    content: ' ';
    height: 75px;
    background-image: url(epii.png);
    background-repeat: no-repeat;
  }

  &.cdn {
    background: url('https://epii.io/test.png');
  }
}