@import "theme.scss";

ul {
  color: #fff;

  li {
    color: #ffe;

    a {
      color: #ffd;

      &:hover {
        color: $text-color;
      }
    }
  }
}

.icon {
  background: url(rwby.png);
}